blog_homepage:
    path:     /{page}
    defaults: { _controller: BlogBundle:Default:index, page:1 }

addtag:
  path: /add/tag
  defaults: { _controller: BlogBundle:Tag:addTag }

deletetag:
  path: /delete/tag/{id}
  defaults: { _controller: BlogBundle:Tag:deleteTag }

addcategory:
  path: /add/category
  defaults: { _controller: BlogBundle:Categories:addCategory }

deletecategory:
  path: /delete/category/{id}
  defaults: { _controller: BlogBundle:Categories:deleteCategory }

editcategory:
  path: /edit/category/{id}
  defaults: { _controller: BlogBundle:Categories:editCategory }

addentry:
  path: /add/entry
  defaults: { _controller: BlogBundle:Entries:addEntry }

deleteentry:
  path: /delete/entry/{id}
  defaults: { _controller: BlogBundle:Entries:deleteEntry }

editentry:
  path: /edit/entry/{id}
  defaults: { _controller: BlogBundle:Entries:editEntry }

register:
  path: /register
  defaults: { _controller: BlogBundle:Auth:register }

login:
  path: /login
  defaults: { _controller: BlogBundle:Auth:login }

login_check:
  path: /login_check

logout:
  path: /logout
