BlogBundle\Entity\Entry:
    type: entity
    table: entries
    indexes:
        user_id:
            columns:
                - user_id
        category_id:
            columns:
                - category_id
    id:
        id:
            type: integer
            nullable: false
            unsigned: true
            id: true
            generator:
                strategy: IDENTITY
    fields:
        title:
            type: string
            nullable: true
            length: 255
            fixed: false
        content:
            type: text
            nullable: true
            length: 65535
            fixed: false
        status:
            type: string
            nullable: true
            length: 20
            fixed: false
        image:
            type: string
            nullable: true
            length: 255
            fixed: false
    manyToOne:
        user:
            targetEntity: User
            cascade: {  }
            mappedBy: null
            inversedBy: null
            joinColumns:
                user_id:
                    referencedColumnName: id
            orphanRemoval: false
        category:
            targetEntity: Category
            cascade: {  }
            mappedBy: null
            inversedBy: entry
            joinColumns:
                category_id:
                    referencedColumnName: id
            orphanRemoval: false
    oneToMany:
        entryTag:
            targetEntity: EntryTag
            cascade: ["persist"]
            mappedBy: entry

    lifecycleCallbacks: {  }
