BlogBundle\Entity\Tag:
    type: entity
    table: tags
    id:
        id:
            type: integer
            nullable: false
            unsigned: true
            id: true
            generator:
                strategy: IDENTITY
    fields:
        name:
            type: string
            nullable: true
            length: 255
            fixed: false
        description:
            type: text
            nullable: true
            length: 65535
            fixed: false
    oneToMany:
        entryTag:
            targetEntity: EntryTag
            cascade: ["persist"]
            mappedBy: tag
    lifecycleCallbacks: {  }
